<div class="container">
<h2>Adicionar / Editar Contato</h2>
<div class="row">
    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm" novalidade>
        <div [ngClass]="getFormGroupClass(nome.valid,nome.touched,nome.pristine)">
            <label for="nome" class="form-control-label">Nome:</label>
            <input type="text" name="nome" placeholder="Digite o Nome" required
                #nome="ngModel"
                [ngClass]="getFormControlClass(nome.valid,nome.touched,nome.pristine)"
                [(ngModel)]="contato.nome"> 
            <div class="alert alert-danger form-control-feedback" [hidden]="nome.valid || nome.untouched"></div>
        </div>
        <div [ngClass]="getFormGroupClass(email.valid,email.touched,email.pristine)">
            <label for="email" class="form-control-label">Email:</label>
            <input type="email" name="email" placeholder="Digite o Email" required
            #email="ngModel"
            [ngClass]="getFormControlClass(email.valid,email.touched,email.pristine)"
            [(ngModel)]="contato.email">
            <div class="alert alert-danger form-control-feedback" [hidden]="email.valid || email.untouched"></div>
        </div>
        <div [ngClass]="getFormGroupClass(telefone.valid,telefone.touched,telefone.pristine)">
            <label for="telefone" class="form-control-label">Telefone:</label>
            <input type="phone" name="telefone" placeholder="Ex.: (11) 99999-9999"
            required
            #telefone="ngModel"
            [ngClass]="getFormControlClass(telefone.valid,telefone.touched,telefone.pristine)"
            [(ngModel)]="contato.telefone">
            <div class="alert alert-danger form-control-feedback" [hidden]="telefone.valid || telefone.untouched"></div>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <a class="btn btn-secondary" routerLink="/">Voltar</a>
    </form>
</div>
</div>